DEBUG=1
HUSKY_DEBUG=1
PINO_LOG_LEVEL=debug

HOST=localhost
PORT=3000
CLIENT_HOST=localhost:4000

# auth
JWT_ACCESS_SECRET='secret-for-access-token'
JWT_REFRESH_SECRET='secret-for-refresh-token'
COOKIE_KEY=xxxxx
COOKIE_SECRET=xxxxxxx
GOOGLE_CLIENT_ID=xxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxx-yyyyyyyyyyyyyyyyyy
VK_APP_ID=12345
VK_SECURE_KEY=xxxxx
