.inputBox {
  position: relative;
}

.inputBox textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  /* margin-bottom: 10px; */
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.inputBox label {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  transition: 0.5s;
}

.inputBox textarea:focus ~ label,
.inputBox textarea:valid ~ label {
  top: -18px;
  left: 0;
  color: cadetblue;
  font-size: 12px;

}
