.li {
  position: relative;
  transition: 0.5s;
  border: 1px solid red;
  z-index: 9999;
}

.li .content {
  position: absolute;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  display: none;
  transition: .5s;
  transform: translateX(-20%) translateY(-20px);
  border: 1px solid silver;
  z-index: 9999;

}

.li .content::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  bottom: -5px;
  transform: rotate(45deg);
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  left: var(--wp);
  z-index: 9999;
}

.li:hover .content {
  /* visibility: visible;
  opacity: 1; */
  z-index: 9999;
  display: block;
  transform: translateX(-20%) translateY(0);
}
